:root {
  --color-dark-blue: #262e38;
  --color-light-grey: #969fad;
  --color-medium-grey: #7c8798;
  --color-orange: #fc7614;
  --color-plure-white: #fff;
  --color-very-dark-blue: #131518;
  --color-gradient-black: radial-gradient(at top, #232a34 0%, #181e27 100%);
}

html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
  background-color: var(--color-almost-white);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Overpass";
  font-style: normal;
  background-color: var(--color-very-dark-blue);
  color: var(--color-light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.font-h-l {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 125%;
}

.font-rating {
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0.0125rem;
}

.font-h-m {
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 127%;
  letter-spacing: 0.125rem;
}

.font-body {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 160%;
}

.container {
  width: 100%;
  max-width: 25.75rem;
  border-radius: 1.875rem;
  margin: 0 auto;
  background: var(--color-gradient-black);
}

.survey {
  // display: none;
  padding: 2rem 2.5rem 2rem 2rem;
}

.result {
  display: none;
  padding: 2.8125rem 2.5rem 2.8125rem 2rem;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 10.125rem;
    height: 6.75rem;
  }

  &__result {
    color: var(--color-orange);
    background-color: var(--color-dark-blue);
    padding: 0.25rem 1.25rem;
    border-radius: 1.4rem;
    margin: 2rem 0 0 0;
  }

  &__header {
    margin: 2rem 0 0 0;
    color: var(--color-plure-white);
  }

  &__description {
    color: var(--color-light-grey);
    margin: 0.9375rem 0 0 0;
    text-align: center;
  }
}

.star {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-blue);
  border-radius: 50%;

  &__img {
    width: 1.046875rem;
    height: 1rem;
  }
}

.form {
  &__header {
    color: var(--color-plure-white);
    margin: 1.875rem 0 0 0;
  }

  &__description {
    color: var(--color-light-grey);
    margin: 0.9375rem 0 0 0;
  }

  &__submit {
    color: var(--color-plure-white);
    background-color: var(--color-orange);
    border: none;
    border-radius: 1.4rem;
    text-transform: uppercase;
    padding: 0.6875rem 0;
    text-align: center;
    width: 100%;
    margin: 2rem 0 0 0;
    cursor: pointer;
  }

  &__submit:hover {
    color: var(--color-orange);
    background-color: var(--color-plure-white);
  }
}

.rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem 0 0 0;

  &__input {
    display: none;
  }

  &__input:checked + label {
    background-color: var(--color-light-grey);
    color: var(--color-plure-white);
  }

  &__label {
    background-color: var(--color-dark-blue);
    color: var(--color-medium-grey);
    width: 3.1875rem;
    height: 3.1875rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__label:hover {
    background-color: var(--color-orange);
    color: var(--color-plure-white);
  }
}

@media (max-width: 32rem) {
  .font-h-l {
    font-size: 1.5rem;
  }

  .font-rating {
    font-size: 0.875rem;
    line-height: 171%;
    letter-spacing: normal;
  }

  .font-h-m {
    font-size: 0.875rem;
    line-height: 129%;
    letter-spacing: 0.116666875rem;
  }

  .font-body {
    font-size: 0.875rem;
    line-height: 157%;
  }

  .container {
    max-width: 20.4375rem;
  }

  .survey {
    padding: 1.5rem 1.5rem 2rem 1.5rem;
  }

  .result {
    padding: 2.125rem 1.5rem 2.3125rem 1.5rem;

    &__img {
      width: 9rem;
      height: 6rem;
    }

    &__result {
      padding: 0.3125rem 0.75rem;
      margin: 1.5rem 0 0 0;
    }

    &__header {
      margin: 1.5rem 0 0 0;
    }

    &__description {
      margin: 1.0625rem 0 0 0;
      text-align: center;
    }
  }

  .star {
    width: 2.5rem;
    height: 2.5rem;

    &__img {
      width: 0.8725rem;
      height: 0.833125rem;
    }
  }

  .form {
    &__header {
      margin: 1rem 0 0 0;
    }

    &__description {
      margin: 1.0625rem 0 0 0;
    }
  }

  .rate {
    &__label {
      width: 2.625rem;
      height: 2.625rem;
    }
  }
}
